venv/
__pycache__/
*.pyc
db.sqlite3
*.env
node_modules/
package-lock.json
.black/
logs/plat_pursuit.log
*.bat
/staticfiles/
/media/
.VSCodeCounter/
docker-compose.yml
share_temp_images/
docs/minigames/DEVELOPMENT_GUIDE.md