<button id="back-to-top"
        class="btn btn-square btn-xl w-20 h-20 rounded-lg btn-primary border-4 border-base-200 fixed bottom-24 lg:bottom-8 right-8 shadow-xl opacity-0 transition-opacity duration-300 z-50"
        aria-label="Back to top">
    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0 0 24 24" fill="none" stroke="var(--color-base-300)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" role="img" aria-labelledby="back-to-top-icon">
        <title id="back-to-top-icon">Arrow pointing up</title>
        <path d="M12 19V6M5 12l7-7 7 7"/>
    </svg>
</button>