{% extends 'base.html' %}
{% load static custom_filters query_tags %}

{% block title %}{{ badge.effective_display_series }} - Leaderboards{% endblock %}
{% block content %}
    <section class="shadow-lg shadow-neutral bg-base-200/80 rounded-box border-2 border-base-300 w-full p-0 lg:p-4">
        {% include 'partials/breadcrumb.html' with items=breadcrumb %}

        <div class="flex flex-row bg-base-100 border-4 border-base-300 shadow-md shadow-neutral rounded-box items-center justify-center gap-4 p-4 w-fit mx-auto">
            <figure class="w-32 sm:w-37 md:w-42 lg:w-48 h-32 sm:h-37 md:h-42 lg:h-48 overflow-visible">
                {% include 'partials/badge.html' with layers=badge.get_badge_layers %}
            </figure>
            <div class="flex flex-col gap-0">
                <h1 class="text-sm sm:text-lg md:text-xl lg:text-2xl text-base-content text-start pr-1 italic">{{ badge.effective_display_series }}</h1>
                <h1 class="text-sm sm:text-lg md:text-xl lg:text-2xl legendary-title text-start pr-1 italic">{{ badge.effective_user_title }}</h1>
                <h1 class="text-sm sm:text-lg md:text-xl lg:text-2xl text-base-content text-start">Leaderboards</h1>
            </div>
        </div>
        <div class="divider divider-vertical"></div>

        <h1 class="text3xl text-accent text-center font-bold italic mb-4">NOTE: Only PSN accounts LINKED to a PlatPursuit user account are considered.</h1>

        <div class="grid grid-cols-1 xl:grid-cols-2 gap-4">

            <div class="flex flex-col justify-start gap-2">
                <h2 class="text-lg italic font-bold">Badge Earns By Date</h2>
                <p class="text-sm text-base-content/70 text-center pr-1 italic">Leaderboard Updated: {{ lb_earners_refresh_time|iso_datetime }}</p>
                <p class="text-sm text-base-content/70 text-center pr-1 italic">Refreshed every 6 hours.</p>
                <div class="flex flex-col sm:flex-row justify-between items-center gap-4 mt-4 w-7/8 mx-auto">
                    <div class="btn-group">
                        {% if lb_earners_page_obj.has_previous %}
                        <a href="?{% query_transform lb_earners_page=1 %}" class="btn btn-xs">First</a>
                        <a href="?{% query_transform lb_earners_page=lb_earners_page_obj.previous_page_number %}" class="btn btn-xs">Prev</a>
                        {% endif %}
                        <span class="btn btn-xs btn-secondary btn-active">Page {{ lb_earners_page_obj.number }} of {{ lb_earners_paginator.num_pages }}</span>
                        {% if lb_earners_page_obj.has_next %}
                        <a href="?{% query_transform lb_earners_page=lb_earners_page_obj.next_page_number %}" class="btn btn-xs">Next</a>
                        <a href="?{% query_transform lb_earners_page=lb_earners_paginator.num_pages %}" class="btn btn-xs">Last</a>
                        {% endif %}
                    </div>
                    <div class="flex flex-row justify-between gap-8">
                        {% if lb_earners_user_page %}
                            <a href="?{% query_transform lb_earners_page=lb_earners_user_page %}#1-rank-{{ lb_earners_user_rank }}" class="btn btn-xs btn-accent tooltip" data-tip="Jump to your rank">My Rank</a>
                        {% endif %}
                        <form class="input-group" onsubmit="updatePage(this, 'lb_earners_page'); return false;">
                            <input type="number" class="input input-bordered input-xs w-16" min="1" max="{{ lb_earners_paginator.num_pages }}" placeholder="Page" />
                            <button type="submit" class="btn btn-xs btn-primary">Go</button>
                        </form>
                    </div>
                </div>

                <div class="w-full overflow-x-scroll">
                    <table class="table table-zebra bg-base-100/80 border-4 border-base-300 shadow-lg shadow-neutral rounded-box w-full">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-sm">User</th>
                                <th class="text-sm">Tier</th>
                                <th class="text-sm">Earned Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in lb_earners_page_obj %}
                                <tr id="1-rank-{{ entry.rank }}" class="{% if request.user.is_authenticated and request.user.profile.display_psn_username == entry.psn_username %}bg-success/15{% endif %} h-15">
                                    <td>{{ entry.rank }}</td>
                                    <td class="text-xs sm:text-sm lg:text-base">
                                        <a href="{% url 'profile_detail' entry.psn_username %}">
                                            <div class="avatar mr-2 hidden sm:inline-flex">
                                                <div class="w-4 lg:w-6 rounded-full ring-2 ring-primary cursor-pointer hover:scale-105">
                                                    <img src="{{ entry.avatar_url|default:'/static/default-avatar.png' }}" alt="Profile Avatar" />
                                                </div>
                                            </div>
                                            <span class="{% if entry.is_premium %}legendary-title{% endif %}">{{ entry.psn_username }}</span> • {{ entry.flag }}
                                        </a>
                                    </td>
                                    <td>
                                        {% with entry.highest_tier|stringformat:'s' as tier %}
                                            <div class="tooltip" data-tip="{{ tier|badge_tier }}">
                                                <figure class="w-6 hover:scale-105">
                                                    <img src="{% static 'images/badges/backdrops/'|add:tier|add:'_backdrop.png' %}" class="w-full" alt="{{ tier|badge_tier }}" />
                                                </figure>
                                            </div>
                                        {% endwith %}
                                    </td>
                                    <td class="text-xs sm:text-sm lg:text-base italic">{{ entry.earn_date|iso_datetime }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="flex flex-col sm:flex-row justify-between items-center gap-4 mt-4 w-7/8 mx-auto">

                    <div class="btn-group">
                        {% if lb_earners_page_obj.has_previous %}
                        <a href="?{% query_transform lb_earners_page=1 %}" class="btn btn-xs">First</a>
                        <a href="?{% query_transform lb_earners_page=lb_earners_page_obj.previous_page_number %}" class="btn btn-xs">Prev</a>
                        {% endif %}
                        <span class="btn btn-xs btn-secondary btn-active">Page {{ lb_earners_page_obj.number }} of {{ lb_earners_paginator.num_pages }}</span>
                        {% if lb_earners_page_obj.has_next %}
                        <a href="?{% query_transform lb_earners_page=lb_earners_page_obj.next_page_number %}" class="btn btn-xs">Next</a>
                        <a href="?{% query_transform lb_earners_page=lb_earners_paginator.num_pages %}" class="btn btn-xs">Last</a>
                        {% endif %}
                    </div>

                    <div class="flex flex-row justify-between gap-8">
                        {% if lb_earners_user_page %}
                            <a href="?{% query_transform lb_earners_page=lb_earners_user_page %}#1-rank-{{ lb_earners_user_rank }}" class="btn btn-xs btn-accent tooltip" data-tip="Jump to your rank">My Rank</a>
                        {% endif %}

                        <form class="input-group" onsubmit="updatePage(this, 'lb_earners_page'); return false;">
                            <input type="number" class="input input-bordered input-xs w-16" min="1" max="{{ lb_earners_paginator.num_pages }}" placeholder="Page" />
                            <button type="submit" class="btn btn-xs btn-primary">Go</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-start-start gap-2">
                <h2 class="text-xl italic font-bold">Badge Trophy Leaders</h2>
                <p class="text-sm text-base-content/70 text-center pr-1 italic">Leaderboard Updated: {{ lb_progress_refresh_time|iso_datetime }}</p>
                <p class="text-sm text-base-content/70 text-center pr-1 italic">Refreshed every 6 hours.</p>
                <div class="flex flex-col sm:flex-row justify-between items-center gap-4 mt-4 w-7/8 mx-auto">
                    <div class="btn-group">
                        {% if lb_progress_page_obj.has_previous %}
                        <a href="?{% query_transform lb_progress_page=1 %}" class="btn btn-xs">First</a>
                        <a href="?{% query_transform lb_progress_page=lb_progress_page_obj.previous_page_number %}" class="btn btn-xs">Prev</a>
                        {% endif %}
                        <span class="btn btn-xs btn-secondary btn-active">Page {{ lb_progress_page_obj.number }} of {{ lb_progress_paginator.num_pages }}</span>
                        {% if lb_progress_page_obj.has_next %}
                        <a href="?{% query_transform lb_progress_page=lb_progress_page_obj.next_page_number %}" class="btn btn-xs">Next</a>
                        <a href="?{% query_transform lb_progress_page=lb_progress_paginator.num_pages %}" class="btn btn-xs">Last</a>
                        {% endif %}
                    </div>
                    
                    <div class="flex flex-row justify-between gap-8">
                        {% if lb_progress_user_page %}
                            <a href="?{% query_transform lb_progress_page=lb_progress_user_page %}#2-rank-{{ lb_progress_user_rank }}" class="btn btn-xs btn-accent tooltip" data-tip="Jump to your rank">My Rank</a>
                        {% endif %}

                        <form class="input-group" onsubmit="updatePage(this, 'lb_progress_page'); return false;">
                            <input type="number" class="input input-bordered input-xs w-16" min="1" max="{{ lb_progress_paginator.num_pages }}" placeholder="Page" />
                            <button type="submit" class="btn btn-xs btn-primary">Go</button>
                        </form>
                    </div>
                </div>

                <div class="w-full overflow-x-scroll">
                    <table class="table table-zebra bg-base-100/80 border-4 border-base-300 shadow-lg shadow-neutral rounded-box w-full">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User</th>
                            <th>Badge Trophies</th>
                            <th>Last Earned</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in lb_progress_page_obj %}
                            <tr id="2-rank-{{ entry.rank }}" class="{% if request.user.is_authenticated and request.user.profile.display_psn_username == entry.psn_username %}bg-success/15{% endif %} h-15">
                                <td>{{ entry.rank }}</td>
                                <td>
                                    <a href="{% url 'profile_detail' entry.psn_username %}">
                                        <div class="avatar mr-2 hidden sm:inline-flex">
                                            <div class="w-4 lg:w-6 rounded-full ring-2 ring-primary cursor-pointer hover:scale-105">
                                                <img src="{{ entry.avatar_url|default:'/static/default-avatar.png' }}" alt="Profile Avatar" />
                                            </div>
                                        </div>
                                        <span class="{% if entry.is_premium %}legendary-title{% endif %}">{{ entry.psn_username }}</span> • {{ entry.flag }}
                                    </a>
                                </td>
                                <td>
                                    <div class="flex flex-col lg:flex-row justify-center items-center gap-3">
                                        <div class="flex flex-row gap-3">
                                            <div class="flex flex-row items-center gap-0">
                                                {% include 'partials/icons/trophy_cup.html' with color='var(--color-trophy-platinum)' size='w-4' extra_class='mr-1 hover:scale-105' %}
                                                <p class="text-base-content text-xs font-bold">{{ entry.trophy_totals.plats }}</p>
                                            </div>
                                            <div class="flex flex-row items-center gap-0">
                                                {% include 'partials/icons/trophy_cup.html' with color='var(--color-trophy-gold)' size='w-4' extra_class='mr-1 hover:scale-105' %}
                                                <p class="text-base-content text-xs font-bold">{{ entry.trophy_totals.golds }}</p>
                                            </div>
                                        </div>
                                        <div class="flex flex-row gap-3 mb-2 lg:mb-0">
                                            <div class="flex flex-row items-center gap-0">
                                                {% include 'partials/icons/trophy_cup.html' with color='var(--color-trophy-silver)' size='w-4' extra_class='mr-1 hover:scale-105' %}
                                                <p class="text-base-content text-xs font-bold">{{ entry.trophy_totals.silvers }}</p>
                                            </div>
                                            <div class="flex flex-row items-center gap-0">
                                                {% include 'partials/icons/trophy_cup.html' with color='var(--color-trophy-bronze)' size='w-4' extra_class='mr-1 hover:scale-105' %}
                                                <p class="text-base-content text-xs font-bold">{{ entry.trophy_totals.bronzes }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-xs italic">{{ entry.last_earned_date|iso_datetime }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>

                <div class="flex flex-col sm:flex-row justify-between items-center gap-4 mt-4 w-7/8 mx-auto">
                    <div class="btn-group">
                        {% if lb_progress_page_obj.has_previous %}
                        <a href="?{% query_transform lb_progress_page=1 %}" class="btn btn-xs">First</a>
                        <a href="?{% query_transform lb_progress_page=lb_progress_page_obj.previous_page_number %}" class="btn btn-xs">Prev</a>
                        {% endif %}
                        <span class="btn btn-xs btn-secondary btn-active">Page {{ lb_progress_page_obj.number }} of {{ lb_progress_paginator.num_pages }}</span>
                        {% if lb_progress_page_obj.has_next %}
                        <a href="?{% query_transform lb_progress_page=lb_progress_page_obj.next_page_number %}" class="btn btn-xs">Next</a>
                        <a href="?{% query_transform lb_progress_page=lb_progress_paginator.num_pages %}" class="btn btn-xs">Last</a>
                        {% endif %}
                    </div>

                    <div class="flex flex-row justify-between gap-8">
                        {% if lb_progress_user_page %}
                            <a href="?{% query_transform lb_progress_page=lb_progress_user_page %}#2-rank-{{ lb_progress_user_rank }}" class="btn btn-xs btn-accent tooltip" data-tip="Jump to your rank">My Rank</a>
                        {% endif %}

                        <form class="input-group" onsubmit="updatePage(this, 'lb_progress_page'); return false;">
                            <input type="number" class="input input-bordered input-xs w-16" min="1" max="{{ lb_progress_paginator.num_pages }}" placeholder="Page" />
                            <button type="submit" class="btn btn-xs btn-primary">Go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js_scripts %}
<script>
    function updatePage(form, paramName) {
        const input = form.querySelector('input[type="number"]');
        const page = input.value;
        if (page < 1 || page > input.max) return;
        
        const url = new URL(window.location);
        url.searchParams.set(paramName, page);
        window.location.href = url.toString();
    }
</script>
{% endblock %}