{% extends 'base.html' %}
{% load static %}
{% load query_tags %}
{% block title %}Badges Search{% endblock %}

{% block content %}
    {% include 'partials/breadcrumb.html' with items=breadcrumb %}

    {% include 'trophies/partials/badge_list/badge_list_header.html' %}

    <form id="filter-form" method="get" class="mb-4">
        <div class="flex flex-col lg:flex-row w-full">
            <div class="form-control fieldset w-full lg:w-1/3">
                <legend class="fieldset-legend text-lg lg:text-xl italic">Sort By</legend>
                <select name="sort" id="id_sort" class="select select-primary w-7/8 justify-self-center">
                    {% for value, display in form.sort.field.choices %}
                        <option value="{{ value }}" {% if request.GET.sort == value %}selected{% endif %}>{{ display }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="flex justify-center w-full">
                <div class="form-control fieldset w-full">
                    <legend class="fieldset-legend text-lg lg:text-xl italic">Search By Series</legend>
                    <div class="flex flex-col md:flex-row justify-self-center gap-4 w-full md:w-15/16">
                        <input type="text" name="series_slug" id="id_series_slug" value="{{ request.GET.series_slug }}" class="input input-md md:input-lg input-primary w-23/24 justify-self-center" placeholder="Enter series name..." />
                        <button id="submit-btn" type="submit" class="btn btn-md md:btn-lg border-3 shadow-md" disabled>Feel The Power...</button>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="view" value="{{ request.GET.view }}" />
    </form>
    <div class="divider divider-vertical"></div>
    <div class="flex flex-row justify-between">
        <h1 class="text-2xl lg:text-3xl xl:text-4xl text-base-content text-start italic self-end mb-4">Badges By
            {% with sort_val=request.GET.sort %}
                {% if sort_val %}
                    {% for value, display in form.sort.field.choices %}
                        {% if value == sort_val %}
                            {{ display }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    Series
                {% endif %}
            {% endwith %}
        </h1>
    </div>

    {% include 'partials/pagination.html' with position='top' show_page_jump=True anchor='filter-form' %}

    <div id="items-grid" class="space-y-2">
        {% include 'trophies/partials/badge_list/badge_list_items.html' %}
    </div>

    {% include 'partials/pagination.html' with position='bottom' show_page_jump=False anchor='filter-form' %}

{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js/submit_shimmer.js' %}"></script>
    <script src="{% static 'js/list_page_filters.js' %}"></script>
    <script>PlatPursuit.ZoomScaler.init();</script>
{% endblock %}