{% extends 'base.html' %}
{% load static %}
{% block title %}Games Search{% endblock %}

{% block content %}
    <section class="shadow-lg w-full bg-base-200 rounded-box border-2 border-base-300 p-4">
        <h2 class="text-2xl font-bold mb-4 italic">Games</h2>
        <form method="get" class="mb-4">
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <div id="games-grid" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-2">
            {% include 'trophies/partials/game_cards.html' %}
        </div>
        <div id="loading" class="hidden mt-4 text-center">
            <span class="loading loading-spinner loading-lg"></span>
        </div>
        <div id="sentinel" class="h-1"></div>
    </section>
{% endblock %}

{% block js_scripts %}
    <script src="{% static 'js\games_infinite_scroll.js' %}"></script>
{% endblock %}