{% load static custom_filters %}
{% load humanize %}
{% for profile in object_list %}
    <a href="{% url 'profile_detail' profile.psn_username %}" class="card bg-base-100 border-4 {% if profile.user_is_premium %}shimmer{% else %}border-base-300{% endif %} shadow-xl shadow-neutral cursor-pointer transition-all duration-300 hover:scale-105 hover:border-primary hover:shadow-primary hover:z-10 group">
        <div class="relative card-body m-0 px-3 py-3">
            <div class="absolute top-2 right-4 text-lg text-base-content font-bold hover:scale-105">{{ profile.flag }}</div>
            {% if not profile.psn_history_public %}
                <div class="tooltip absolute top-2 left-4 hover:scale-105" data-tip="Game Data Privated">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                </div>
            {% elif profile.user_is_premium %}
                <div class="tooltip absolute top-2 left-4 hover:scale-105" data-tip="Premium User">
                    <img src="{% static 'images/badges/default.png' %}" class="w-7.5 h-7.5" />
                </div>
            {% endif %}
            <div class="flex flex-col items-center">
                <div class="avatar mb-4 transition duration-300 group-hover:scale-105">
                    <div class="w-24 rounded-full ring-3 ring-primary">
                        <img src="{{ profile.avatar_url }}" alt="{{ profile.psn_username }}'s avatar" class="hover:scale-105" />
                    </div>
                </div>
                <h3 class="text-lg text-base-content font-bold h-10 line-clamp-1 hover:scale-105">{{ profile.display_psn_username }}</h3>
                <p class="text-xs text-base-content/70 text-center line-clamp-2 min-h-[2rem] hover:scale-105">{{ profile.about_me }}</p>
                <h3 class="text-lg legendary-title h-10 line-clamp-1 pr-1 italic hover:scale-105">{% if profile.user_is_premium %}{{ profile.selected_title }}{% endif %}</h3>

                <div class="divider divider-vertical my-0"></div>

                <div class="flex flex-row gap-2 items-center">
                    <div class="flex flex-col gap-1 items-center">
                        <h3 class="text-xs text-base-content/70 hover:scale-105 italic">Level:</h3>
                        {% if not profile.psn_history_public %}
                            <div class="tooltip" data-tip="Game Data Privated">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                            </div>
                        {% else %}
                            <h3 class="text-sm text-accent font-bold hover:scale-105">{{ profile.trophy_level }}</h3>
                        {% endif %}
                    </div>
                    <div class="divider divider-horizontal mx-0"></div>
                    <div class="flex flex-col gap-1 items-center">
                        <h3 class="text-xs text-base-content/70 hover:scale-105 italic">Trophies:</h3>
                        {% if not profile.sync_status == 'syncing' and profile.psn_history_public %}
                            <h3 class="text-sm text-secondary font-bold hover:scale-105">{{ profile.total_trophies|intcomma }}</h3>
                        {% elif not profile.psn_history_public %}
                            <div class="tooltip" data-tip="Game Data Privated">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                            </div>
                        {% else %}
                            <span class="loading loading-infinity loading-md"></span>
                        {% endif %}
                    </div>
                    <div class="divider divider-horizontal mx-0"></div>
                    <div class="flex flex-col gap-1 items-center">
                        <h3 class="text-xs text-base-content/70 hover:scale-105 italic">Plats:</h3>
                        {% if not profile.sync_status == 'syncing' and profile.psn_history_public %}
                            <h3 class="text-sm text-primary font-bold hover:scale-105">{{ profile.total_plats|intcomma }}</h3>
                        {% elif not profile.psn_history_public %}
                            <div class="tooltip" data-tip="Game Data Privated">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                            </div>
                        {% else %}
                            <span class="loading loading-infinity loading-md"></span>
                        {% endif %}
                    </div>
                </div>

                <div class="divider divider-vertical my-0"></div>

                <div class="flex flex-row gap-2 items-center">
                    <div class="flex flex-col gap-1 items-center">
                        <h3 class="text-xs text-base-content/70 hover:scale-105 italic">Games:</h3>
                        {% if not profile.psn_history_public %}
                            <div class="tooltip" data-tip="Game Data Privated">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                            </div>
                        {% else %}
                            <h3 class="text-sm text-warning font-bold hover:scale-105">{{ profile.total_games }}</h3>
                        {% endif %}
                    </div>
                    <div class="divider divider-horizontal mx-0"></div>
                    <div class="flex flex-col gap-1 items-center">
                        <h3 class="text-xs text-base-content/70 hover:scale-105 italic">100%'s:</h3>
                        {% if not profile.psn_history_public %}
                            <div class="tooltip" data-tip="Game Data Privated">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                            </div>
                        {% else %}
                            <h3 class="text-sm text-success font-bold hover:scale-105">{{ profile.total_completes }}</h3>
                        {% endif %}
                    </div>
                    <div class="divider divider-horizontal mx-0"></div>
                    <div class="flex flex-col gap-1 items-center">
                        <h3 class="text-xs text-base-content/70 hover:scale-105 italic">Avg. %</h3>
                        {% if not profile.psn_history_public %}
                            <div class="tooltip" data-tip="Game Data Privated">
                                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="var(--color-error)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                            </div>
                        {% else %}
                            <h3 class="text-sm text-base-content font-bold hover:scale-105">{{ profile.avg_progress|floatformat:0 }}%</h3>
                        {% endif %}
                    </div>
                </div>

                <div class="divider divider-vertical my-0"></div>

                {% with profile.recent_platinum.0.trophy as recent %}
                    {% if recent %}
                        <div class="flex flex-col items-start gap-2 w-full">
                            <h3 class="text-sm text-base-content italic self-center text-center hover:scale-105">Latest Platinum:</h3>
                            {% if not profile.sync_status == 'syncing' %}
                                <div class="flex flex-row self-start items-center w-full gap-2">
                                    <figure class="border-2 border-{{ recent|trophy_color }} rounded-box shrink-0 transition-colors duration-300 hover:scale-105">
                                        <img src="{{ recent.trophy_icon_url }}" alt="{{ recent.trophy_name }}" class="h-10 w-10 object-fill shrink-0" loading="lazy" />
                                    </figure>
                                    <div class="flex flex-col gap-0">
                                        <h3 class="text-xs text-base-content text-start line-clamp-1 hover:scale-105">{{ recent.trophy_name }}</h3>
                                        <h3 class="text-xs text-accent text-start italic line-clamp-1 pr-1 hover:scale-105">{{ recent.game.title_name }}</h3>
                                        <h3 class="text-xs text-base-content/70 text-start italic line-clamp-1 pr-1 hover:scale-105">{{ profile.recent_platinum.0.earned_date_time|format_date:"with_tz" }}</h3>
                                    </div>
                                </div>
                            {% else %}
                                <span class="loading loading-infinity loading-xl self-center"></span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </a>
{% empty %}
    <p>No profiles found. Try expanding your search or syncing a new one!</p>
{% endfor %}