{% load static %}
<div class="card border-4 border-base-300 shadow-lg shadow-neutral transition-all duration-300 hover:border-primary hover:shadow-primary mb-6">
    <div class="card-body flex flex-row justify-around">
        <div class="flex flex-col">
            <figure class="w-45 h-45 self-center hover:scale-105 mb-2">
                <img src="{% static 'images/badges/backdrops/1_backdrop.png' %}" />
            </figure>
            <h3 class="text-center text-xl font-semibold pr-1 italic mb-4 hover:scale-105">Bronze Requirements:</h3>
            <div class="flex flex-row items-center justify-center h-25">
                <img src="{% static 'images/plat.png' %}" class="w-15 h-15 hover:scale-105" />
                <span class="text-lg text-base-content/70 mr-2 italic hover:scale-105">On</span>
                <img src="{% static 'images/PS4PS5.png' %}" class="w-25 h-15 hover:scale-105" />
            </div>
        </div>
        <div class="divider divider-horizontal"></div>
        <div class="flex flex-col">
            <figure class="w-45 h-45 self-center hover:scale-105 mb-2">
                <img src="{% static 'images/badges/backdrops/2_backdrop.png' %}" />
            </figure>
            <h3 class="text-center text-xl font-semibold pr-1 italic mb-4 hover:scale-105">Silver Requirements:</h3>
            <div class="flex flex-row items-center justify-center h-25">
                <span class="text-2xl mr-1 hover:scale-105">100%</span>
                <span class="text-lg text-base-content/70 mr-2 italic hover:scale-105">On</span>
                <img src="{% static 'images/PS4PS5.png' %}" class="w-25 h-15 hover:scale-105" />
            </div>
        </div>
        <div class="divider divider-horizontal"></div>
        <div class="flex flex-col">
            <figure class="w-45 h-45 self-center hover:scale-105 mb-2">
                <img src="{% static 'images/badges/backdrops/3_backdrop.png' %}" />
            </figure>
            <h3 class="text-center text-xl font-semibold pr-1 italic mb-4 hover:scale-105">Gold Requirements:</h3>
            <div class="flex flex-row items-center justify-center">
                <img src="{% static 'images/plat.png' %}" class="w-15 h-15 hover:scale-105" />
                <span class="text-lg text-base-content/70 mr-2 italic hover:scale-105">On</span>
                <img src="{% static 'images/PS3PSVita.png' %}" class="w-25 h-25 hover:scale-105" />
            </div>
        </div>
        <div class="divider divider-horizontal"></div>
        <div class="flex flex-col">
            <figure class="w-45 h-45 self-center hover:scale-105 mb-2">
                <img src="{% static 'images/badges/backdrops/4_backdrop.png' %}" />
            </figure>
            <h3 class="text-center text-xl font-semibold pr-1 italic mb-4 hover:scale-105">Platinum Requirements:</h3>
            <div class="flex flex-row items-center justify-center">
                <span class="text-2xl mr-1 hover:scale-105">100%</span>
                <span class="text-lg text-base-content/70 mr-2 italic hover:scale-105">On</span>
                <img src="{% static 'images/PS3PSVita.png' %}" class="w-25 h-25 hover:scale-105" />
            </div>
        </div>
    </div>
</div>