{% load custom_filters %}
{% for item in display_data %}
{% with item.badge as badge %}
    <a href="{% url 'badge_detail' badge.series_slug %}" class="card bg-base-100 border-4 border-base-300 shadow-xl shadow-neutral cursor-pointer transition-all duration-300 hover:scale-105 hover:border-{{ badge|badge_color }} hover:shadow-{{ badge|badge_color }} hover:z-10 group">
        <div class="card-body m-0 px-3 py-3 gap-0">
            <div class="flex flex-col lg:flex-row items-center justify-between">
                <div class="flex flex-col lg:flex-row items-center gap-4">
                    <div class="flex flex-row gap-4">
                        <div class="w-28 h-28">
                            {% include 'partials/badge.html' with layers=badge.get_badge_layers %}
                        </div>
                        {% if badge.most_recent_concept %}
                            <figure class="border-4 border-base-300 shadow-md shadow-neutral w-28 h-28 hover:border-{{ badge|badge_color }} hover:shadow-{{ badge|badge_color }}">
                                <img src="{{ badge.most_recent_concept.concept_icon_url }}" class="w-full object-cover hover:scale-105" />
                            </figure>
                        {% endif %}
                    </div>
                    <div class="flex flex-col items-center lg:items-start justify-center">
                        <h3 class="text-lg font-bold line-clamp-1 italic pr-1 hover:scale-105">{{ badge.effective_display_title }} - <span class="text-{{ badge|badge_color }}">{{ badge|badge_tier }}</span></h3>
                        <h2 class="text-base text-base-content text-start line-clamp-1 pr-1 hover:scale-105">{{ badge.effective_display_series }}</h2>
                        <h6 class="text-xs text-base-content/70 text-start italic line-clamp-1 pr-1 hover:scale-105">{{ badge.effective_description }}</h6>
                        <h5 class="text-xs text-base-content/70 font-semibold italic pr-1 hover:scale-105">Total Earned: {{ item.tier1_earned_count }}</h5>                 
                    </div>
                </div>

                <div class="flex flex-col justify-center gap-0 w-1/3">
                    {% if user.is_authenticated and user.profile %}
                        <h4 class="text-base font-base-content font-semibold text-center mb-1 hover:scale-105">Your Progress</h4>
                        {% with item.progress_percentage as percent %}
                            <div class="flex flex-col gap-0 items-center self-center w-full">
                                <progress class="progress {% if percent < 33.0 %}progress-error{% elif percent < 66.0 %}progress-warning{% elif percent < 100.0 %}progress-success{% else %}progress-primary{% endif %} w-full hover:scale-105" value="{{ percent }}" max="100"></progress>
                                <p class="text-base text-base-content hover:scale-105">{{ item.completed_concepts }} / {{ item.required_concepts }} ({{ percent }}%)</p>
                            </div>
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
{% endwith %}
{% empty %}
    <p>No badges found. Try expanding your search!</p>
{% endfor %}