{% extends 'base.html' %}
{% load static %}

{% block title %}404{% endblock %}
{% block content %}
<div class="container mx-auto p-4 max-w-2xl flex items-center justify-center mt-12">
    <div class="card bg-base-100 border-4 border-base-300 shadow-lg shadow-neutral text-center">
        <div class="card-body">
            <figure class="mb-4">
                <img src="{% static 'images/logo.png' %}" alt="PlatPursuit logo" class="w-24 mx-auto" loading="lazy" decoding="async" />
            </figure>
            <h2 class="card-title text-4xl mb-2">404 - Page Not Found</h2>
            <p class="text-lg mb-4">Oops! The trophy you're hunting isn't here. Maybe it's hidden in another level?</p>
            <div class="space-y-4">
                <a href="{% url 'home' %}" class="btn btn-primary w-full">Back to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script>
    PlatPursuit.ZoomScaler.init();
</script>
{% endblock %}