{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    {% include 'partials/breadcrumb.html' with items=breadcrumb %}
    <div class="space-y-8">
        <!-- Community Stats Page Header -->
        {% include 'partials/index/community-stats.html' with items=communityStats %}

        <!-- Featured Games Carousel -->
        {% include 'partials/index/featured-games.html' with items=featuredGames %}

        <!-- Lower Content -->
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
            <div class="lg:col-span-2 space-y-8">
                {% include 'partials/index/latest-platinums.html' with items=latestPlatinums %}
                {% include 'partials/index/playing-now.html' with items=playingNow %}
                {% include 'partials/index/latest-rares.html' with psnRares=latestPsnRares ppRares=latestPpRares %}
            </div>
            <aside class="lg:col-span-1">
                <div class="sticky top-2 mb-8">
                    {% include 'partials/index/featured-profile.html' with item=featuredProfile %}
                    {% include 'partials/index/events-list.html' with upcomingEvents=upcomingEvents pageSize=eventsPageSize %}
                </div>
            </aside>
        </div>
    </div>
{% endblock %}